body {
    padding: 0px;
    margin: 0px;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: white;
    padding: px 0px 0px 0px;
    margin: 0px;
}

.body {
    height: 450px;
    padding: 20px;
    background-color: #d7d9d9;
    display: flex;
    justify-content: space-between;
}

.menu {
    width: 300px;
    background-color: #b0b0b0;
    border-radius: 5px;
    margin-right: 60px;
}

.grid {
    width: 900px;
    background-color: #b0b0b0;
    border-radius: 5px;
}

.footer {
    height: 80px;
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}